@import "animations";
@import "common/bootstrap-utilities.min.css";
@import "common/bootstrap-reboot.min.css";
@import "common/bootstrap-grid.min.css";

:root {
  --accent-red: #DA5155;
  --accent-red-hover: #9d3234;
  --accent-blue: #213A8B;
  --accent-blue-hover: #0f1f4b;
  --amount-green: #279E57;
  --amount-red: #B63434;
}

html, body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

.text-accent {
  color: var(--accent-blue);
}

.button-enter {
  padding: 32px;
  margin-top: 60px;
}

.sub-action-auth {
  color: var(--accent-red);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--accent-red-hover);
  }
}

.modal-medium {
  max-width: 600px;
}

.modal-close {
  background: #b2b2b2;
  border-radius: 100px;
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}
