@import "animations";
@import "common/bootstrap-utilities.min.css";
@import "common/bootstrap-reboot.min.css";
@import "common/bootstrap-grid.min.css";

:root {
    --accent-red: #DA5155;
    --accent-red-hover: #9d3234;
    --accent-blue: #213A8B;
}

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
